#map {
  display: grid;
  grid-template-areas:
      "map control";
  grid-template-columns: 3fr 1fr;
  height: 100vh;

  .container {
    grid-area: map;
  }

  #controls {
    grid-area: control;
    height: 100vh;
    overflow-y: auto;

    h1 {
      text-align: center;
    }

    .detail {
      table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
      }

      table, th, td {
        border: 1px solid black;
      }
    }
  }
}

#floorSelector {
  position: absolute;
  bottom: 2.5%;
  left: 69%;

  display: flex;
  flex-direction: column-reverse;

  button {
    padding: 5px 10px;
    border-radius: 5px;

    &:not(:last-child) {
      margin-top: 5px;
    }
  }
}
