#map {
  display: grid;
  grid-template-areas:
      "map control";
  grid-template-columns: 3fr 1fr;
  height: 100vh;

  .container {
    grid-area: map;
  }

  #controls {
    grid-area: control;
    h1 {
      text-align: center;
    }

    .detail {
      overflow-y: scroll;
      // TODO set height
      // TODO set CSS grid display for rows
    }
  }
}

#floorSelector {
  position: absolute;
  bottom: 2.5%;
  left: 69%;

  display: flex;
  flex-direction: column-reverse;

  button {
    padding: 5px 10px;
    border-radius: 5px;

    &:not(:last-child) {
      margin-top: 5px;
    }
  }
}
