#map {
  display: grid;
  grid-template-areas:
      "map control";
  grid-template-columns: 3fr 1fr;
  height: 100vh;

  .container {
    grid-area: map;
  }

  .control {
    grid-area: control;
    place-self: center;
  }
}

#floorSelector {
  position: absolute;
  bottom: 3%;
  left: 68%;

  display: flex;
  flex-direction: column-reverse;

  button:not(:last-child) {
    margin-top: 5px;
  }
}
